openapi: 3.0.3
info:
  title: dLocal Payins Accounts Payment Methods API
  description: 'Accept payments from customers in emerging markets using 1,000+ local payment methods including cards, bank transfers, cash, mobile money, eWallets, and Pix. Supports 3D Secure, installments, recurring payments, merchant-initiated transactions, and authorization/capture flows.

    '
  version: '2.1'
  contact:
    name: dLocal Developer Support
    url: https://docs.dlocal.com/
  termsOfService: https://www.dlocal.com/terms-of-service/
servers:
- url: https://api.dlocal.com
  description: Production
- url: https://sandbox.dlocal.com
  description: Sandbox
security:
- HmacAuth: []
tags:
- name: Payment Methods
  description: Query available local payment methods
paths:
  /payment-methods:
    get:
      summary: Search Payment Methods
      description: Retrieve available payment methods for a given country and currency.
      operationId: searchPaymentMethods
      tags:
      - Payment Methods
      parameters:
      - name: country
        in: query
        required: true
        description: ISO 3166-1 alpha-2 country code
        schema:
          type: string
          example: BR
      - name: currency
        in: query
        required: false
        description: ISO 4217 currency code
        schema:
          type: string
          example: BRL
      responses:
        '200':
          description: Payment methods list
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_methods:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
components:
  schemas:
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          description: Payment method identifier
        type:
          type: string
          enum:
          - CARD
          - BANK_TRANSFER
          - CASH
          - WALLET
          - MOBILE_MONEY
        name:
          type: string
        logo:
          type: string
          format: uri
        allowed_flows:
          type: array
          items:
            type: string
            enum:
            - DIRECT
            - REDIRECT
  securitySchemes:
    HmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'HMAC-SHA256 signature. Format: "V2-HMAC-SHA256, Signature: {hmac_value}" Signature = HMAC-SHA256(X-Login + X-Date + RequestBody, SecretKey)

        '
